springJaxWsAttachmentsClient/src/main/resources/getAccountDetails.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. -->
<xs:schema xmlns:tns="http://service.soap.ws.spring.parthi.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://service.soap.ws.spring.parthi.com/">

	<xs:element name="account" type="tns:account"></xs:element>

	<xs:element name="accountHolderRequest" type="tns:accountHolderRequest"></xs:element>

	<xs:element name="accountHolderResponse" type="tns:accountHolderResponse"></xs:element>

	<xs:element name="getAccountDetails" type="tns:getAccountDetails"></xs:element>

	<xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"></xs:element>

	<xs:element name="getDetail" type="tns:getDetail"></xs:element>

	<xs:element name="getDetailResponse" type="tns:getDetailResponse"></xs:element>

	<xs:complexType name="getAccountDetails">
		<xs:sequence>
			<xs:element ref="tns:accountHolderRequest" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountHolderRequest">
		<xs:sequence>
			<xs:element name="accountName" type="xs:string" form="qualified"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAccountDetailsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:accountHolderResponse"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountHolderResponse">
		<xs:sequence>
			<xs:element name="accounNumbers" type="tns:account" form="qualified"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="accountName" type="xs:string" form="qualified"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="account">
		<xs:sequence>
			<xs:element name="accountNumber" type="xs:long" form="qualified"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getDetail">
		<xs:sequence>
			<xs:element name="accountName" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getDetailResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:accountHolderResponse"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>